extends layout
block content
  .container
    h2 Welcome, #{user.name.givenName}!
    #Attendance.site-section
      form(method="POST" action="/courses/attendance")
        label(for="course") Select course:
        select#course.select(name="course", required)
          option(value="" hidden) Select course
          option(value="SPAN101") Spanish 101
          option(value="LING120") Linguistics 120
        br
        button(type="submit") Submit
      .attendance.results
        p #{absences}
        p #{tardies}
        p #{combined} 
        p #{subtracted}

