doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#000000")
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet', href='/build/static/css/main.5ba58cb5.chunk.css')
    script(src='http:ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    meta(name="google-site-verification" content="EmVublkyhd77zczoecz4cwZn1czlLLBUUkLJ7ytCNvk")

    div.d-flex.flex-column.h-100
        if locals.user
            div#headerLoggedIn(data-courseHeading=JSON.stringify(courseHeading) data-currentTab=JSON.stringify(title))
        else
            div#headerLoggedOut(data-courseHeading=JSON.stringify(courseHeading) data-currentTab=JSON.stringify(title))
        block content
        script(src='/build/static/js/2.dd191889.chunk.js')
        script(src='/build/static/js/main.6f482d7a.chunk.js')
        script(src='/build/static/js/runtime-main.8d79506e.js')
        script(src="https://kit.fontawesome.com/44e39137fb.js" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
